:root {
    --grey-0: #0a0a0b;
    --grey-1: #f8f9fa;
    --grey-2: #e9ecef;
    --grey-3: #868e96;
    --grey-4: #212529;
    --grey-5: #121214;

    --color-primary: #623cea;
    --color-primary-new: #311E75;
}